* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --main-color: black;
  --main-color2: #ffffff;
  --main-color3: #ffc040;
  --box-shadow-color: #fad517;
  --btn-color: #fad517;
  --player1-color: #7bfffb;
  --player2-color: #6f2dbd;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  background-color: var(--main-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#game {
  background-color: var(--main-color2);
  color: var(--main-color);
  box-shadow: 0 0 15px var(--box-shadow-color);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55vw;
  height: 70vh;
  row-gap:35px;
}

.row {
  background-color: var(--main-color2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  perspective: 600px;
}

.card {
  color: var(--main-color2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
.card.reverse {
  transform: translateX(100%) rotateY(180deg);
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card_front {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
}

.card_back {
  background-position: center;
  background-image: url("Images/cardBack.webp");
  background-size: cover;
  transform: rotateY(180deg);
}

.card:hover {
  background-color: var(--main-color3);
  color: var(--main-color2);
}

#restartBtn {
  background-color: var(--main-color3);
  color: var(--main-color2);
  box-shadow: 0 0 15px var(--box-shadow-color);
  font-size: 30px;
  margin-top: 50px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  width: 100%;
  transition: 0.3s;
}

#restartBtn:hover {
  background-color: var(--main-color2);
  color: var(--main-color3);
}

.matched {
  pointer-events: none;
}